$darkColor: #1A1E29;
$whiteColor: #FFFFFF;
$orangeColor: #FF7E00;
$blueColor: #4C65BD;
$fontFamily: 'IBM Plex Sans', sans-serif;



$blueColor: #38BCEA;
$darkBlueColor: #01678A;
$fontFamily: 'Work Sans',
sans-serif;
$fontSize: 16px;
$whiteColor: #FFFFFF;
$accentColor: #2196F3;
$blackColor: #313131;
$darkGrayColor: #7C7878;
$grayColor: #C4C4C4;